:root {
  --ascent-color: #3cbab0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-height {
  height: calc(100vh - 56px);
}

.custom-active {
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: var(--ascent-color);
}
